body {
  background-color: black;
  color: white;
}

h1.title {
  font-size: 2em;
  text-align: center;
  color: white;
  margin: 0;
}

label > input { /* HIDE RADIO */
  visibility: hidden;
  position: absolute;
}

label {
  background-color: darkseagreen;
  color: black;
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

